blinker==1.8.2
click==8.1.8
dnspython==2.7.0
email-validator==2.1.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
gevent==24.11.1
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
ifcopenshell==0.8.1.post1
importlib_metadata==8.5.0
isodate==0.7.2
itsdangerous==2.2.0
Jinja2==3.1.6
lark==1.2.2
MarkupSafe==2.1.5
numpy==2.0.2
packaging==24.2
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
shapely==2.0.7
six==1.17.0
typing_extensions==4.12.2
UNKNOWN @ git+https://github.com/IfcOpenShell/IfcOpenShell.git@09a43f13395ff23b237b0429a21e28fa6b190fda
Werkzeug==3.0.6
WTForms==3.1.2
zipp==3.20.2
zope.event==5.0
zope.interface==7.2
