blinker==1.8.2
click==8.1.8
dnspython==2.7.0
email-validator==2.1.0
Flask==3.0.3
Flask-Login==0.6.3
Flask-WTF==1.2.1
gevent>=22.10.2
gunicorn==23.0.0
idna==3.10
importlib_metadata==8.5.0
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==2.1.5
packaging==24.2
python-dotenv==1.0.1
UNKNOWN @ git+https://github.com/IfcOpenShell/IfcOpenShell.git@09a43f13395ff23b237b0429a21e28fa6b190fda
Werkzeug==3.0.6
WTForms==3.1.2
zipp==3.20.2
